{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('leng/commerce.product-images') }}
{%
  set classes = [
  'commerce-product',
  'commerce-product--' ~ product_entity.bundle|clean_class,
  'commerce-product--full',
]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="col-md-6">
      {{- product.field_images -}}
      {{- product.variation_field_images -}}
    </div>
    <div class="col-md-6">
      <div class="commerce-product__contents">
        {# {{- product.title -}} #}
        {{- product.variation_title -}}
        {{- product.field_rating -}}
        {{- product.variation_price -}}
        {{- product.variation_list_price -}}
        {{- product|without('field_images','variation_attributes','variation_price',
        'variation_list_price','variation_field_images', 'field_rating', 'field_feedback',
        'variation_title' ) -}}
      </div>
    </div>
  </div>
  <div class="container feedbacks">
    <h1>Product reviews</h1>
    <div class="grid">
    {{- product.field_feedback[0]['comments'] -}}
    </div>
    {% if hasBought or is_admin %}
      {{- product.field_feedback[0]['comment_form'] -}}
      {% else %}
      <div class="note">
      {% if product.field_feedback[0]['comments'] == null %}
      <h2><div>No reviews yet.</div></h2>
      {% endif %}
      You can submit reviews after your item has been delivered.</div>
    {% endif %}
  </div>
</article>